.row {
  color: white;
  margin-left: 20px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 25px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  max-height: 150px;
  object-fit: contain;
  margin-right: 17px;
  width: 100%;
  border-radius: 8px;

  transition: transform 450ms;
}
.row_poster:hover {
  transform: scale(1.12);
  opacity: 2;
  cursor: pointer;
}
.row_posterLarge {
  max-height: 250px;
  border-radius: 10px;
}
.row_postersLarge:hover {
  transform: scale(1.24);
  opacity: 1;
  cursor: pointer;
}
.row_poster_detail {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
